.spinner {
	display: inline-block;
	&--delete::after {
		border: 3px solid #ddd !important;
		border-color: #ddd transparent #ddd transparent !important;
	}
}
.spinner:after {
	content: " ";
	display: block;
	width: 20px;
	height: 20px;
	margin: 8px;
	border-radius: 50%;
	border: 3px solid blue;
	border-color: blue transparent blue transparent;
	animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
